<header class="header">
  <nav class="navbar">
    <div class="row container d-flex">
      <a th:href="@{/}">
      <div class="logo">
        <img alt="" class="head_logo" th:src="@{/images/logo.png}"/>
      </div>
      </a>

      <div class="nav-list d-flex">
        <div class="close">
          <i class="bx bx-x"></i>
        </div>
        <a th:href="@{/}" id="mbl-margin">Home</a>
        <hr>
        <a th:href="@{/shop}">Shop</a>
        <hr>
        <a class="" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>
        <hr>
        <a class="" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a>
        <hr>
        <a th:href="@{/cart}" class="cart-nav">
          Cart <span class="cart-counter" th:text="${cartCount}">0</span>
        </a>
        <hr>
      </div>

      <!-- Hamburger -->
      <div class="hamburger">
        <i class="bx bx-menu-alt-right"></i>
      </div>
    </div>
  </nav>
</header>
